.tooltip {
    position: relative;
    display: inline-block;
    border-radius: 3px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 155%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: 0.3s;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(85, 85, 85) transparent transparent transparent;
    transform: rotate(180deg);
}

#settingstooltiptext::after {
    padding-top: 5px;
    left: 75%;
}

#settingstooltiptext {
    left: -15%;
}

#settings{
    transition: all 0.7s;
}

#settings:hover{
    transform: rotate(45deg);
}

#relocate {
    transition: all 0.2s;
}

#relocate:hover{
    transform: scale(1.15);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    }